{% assign aosDelay = aosDelay | plus: 100 %}
<div class="grid__item medium-up--one-fifth one-half endorsement--grid__item" data-aos-anchor=".endorsement--block" data-aos="fade-up" data-aos-delay="{{ aosDelay }}">
  <img src="{{ block.settings.logo_image | img_url: '500x' }}"/>
</div>
