<div class="quote">
  <h2>{{ block.settings.quote }}</h2>
  <p class="text-center"><a href="{{ block.settings.press_url }}" target="_blank"><img style="width: 100%; max-width: 250px; margin: 0 auto;" src="{{ block.settings.press | img_url: '500x190', crop: 'center' }}"/></a></p>
</div>
