{% assign related_products = '' %}
{% for tag in product.tags %}
  {% if tag contains 'related-' %}
    {% assign product_handle = tag | remove: 'related-' %}
    {% assign related_products = related_products | append: ',' | append: product_handle %}
  {% endif %}
{% endfor %}
{% assign related_products = related_products | remove_first: ',' | split: ',' %}

{% if related_products.size > 0 %}
<div class="section-header text-center">
  <h2 class="section-header__title">{{ section.settings.related_products_title }}</h2>
  <hr class="hr--small">
</div>
<div id="related-products-container" class="grid-uniform clearfix">
  {% for product_handle in related_products %}
  	{% assign featured = all_products[product_handle] %}
  	{% assign grid_item_width = 'medium-up--one-quarter quarter small--one-half' %}
  	<div class="grid__item {{ grid_item_width }}">
  	{% include 'product-grid-item' %}
  	</div>
  {% endfor %}
</div>
{% endif %}
