<style>
  @media (max-width: 480px) {
    #customization-page table td {
      width: 100% !important;
      display: block;
      clear: both;
    }
  }

  #customization-request table{
    margin: 0;
    padding: 30px;
    background-color: #f1f2f2;
    width: 100%;
  }

  #customization-request input[type="text"], #customization-request select{
    padding: 10px;
    border: 0;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
  }
  #customization-request label {
    font-size: 0.95rem;
  }
  #customization-page table td {
  }

  .customization--table .cta-solid {
    margin: 20px auto;
  }

  .customization--table td{
    width: 50%;
  }


  @media( max-width: 950px ){
    .customization--table td{
      width: 100%;
      display: block
    }


  }
</style>
<div>
  <div id="customization-request">
    <form id="wp-custom-form" name="wp-custom-form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" action="https://wandpdesign.wufoo.com/forms/zzn0st01216yhj/#public">
      <table border="0" cellspacing="0" cellpadding="10" class = "customization--table">
        <tbody>
          <tr>
          <td ><input type="text" id="Field1" name="Field1" maxlength="255" value="" placeholder="Name" required spellcheck="false" /></td>
          <td ><input type="text" id="Field2" name="Field2" maxlength="255" value="" spellcheck="false" placeholder="Email" required /></td>
          </tr>
          <tr>
          <td ><input type="text" id="Field3" name="Field3" maxlength="255" value="" placeholder="Phone" required spellcheck="false"/></td>
          <td ><input type="text" id="Field4" name="Field4" maxlength="255" value="" spellcheck="false" placeholder="Company Name" /></td>
          </tr>
          <tr>
          <td ><input type="text"id="Field5" name="Field5" maxlength="255" value="" placeholder="Zip Code" required spellcheck="false" /></td>
          <td ><input type="text" id="Field6" name="Field6" maxlength="255" value="" placeholder="Delivery Date" spellcheck="false" /></td>
          </tr>
          <tr>
          <td ><input type="text" id="Field7" name="Field7" maxlength="255" value="" placeholder="Product to Customize" required spellcheck="false" /></td>
          <td ><input type="text" id="Field8" name="Field8" maxlength="255" value="" spellcheck="false" placeholder="Quantity" /></td>
          </tr>
          <tr>
            <td>
              <label class="desc notranslate" id="title10" for="Field10">
How did you hear about us?
</label></td>
<td>
<select id="Field10" name="Field10" class="field select medium"       tabindex="0" data-wufoo-field="dropdown" >
<option
value="---" selected="selected">
<span class="notranslate">---</span>
</option>
<option
value="I have worked with you before" >
<span class="notranslate">I have worked with you before</span>
</option>
<option
value="Instagram" >
<span class="notranslate">Instagram</span>
</option>
<option
value="Trade Show" >
<span class="notranslate">Trade Show</span>
</option>
<option
value="Brand Fan" >
<span class="notranslate">Brand Fan</span>
</option>
<option
value="Recommendation" >
<span class="notranslate">Recommendation</span>
</option>
</select>
</td>
          </tr>
          <tr>
          <td style="text-align: center; width: 100%;" colspan="2">
            <input type="submit" value="Submit Request >" id="saveForm" name="saveForm" class="cta-solid" />
            <p class="text-center"><em>A team member will be in contact within 24 hours of your request!</em></p>
            <div style="display: none;">
              <label for="comment">Do Not Fill This Out</label>
              <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
              <input type="hidden" id="idstamp" name="idstamp" value="FtD7SEe/JlwAuRSbYR4zGzORTXMiK+B/I2LNzHNhGts=" />
              <input type="hidden" id="encryptedPassword" name="encryptedPassword" value="" />
            </div>
          </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
