<div class="wrap" id="shipping">
  <div class="grid">
    <div class="grid__item medium-up--three-quarters">
      <h2>{{ section.settings.title }}</h2>
      {% for block in section.blocks %}
        <h3>{{ block.settings.title }}</h3>
        {{ block.settings.body }}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Shipping Policy",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Section Title"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Paragraph Block",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "title"
          },
          {
            "id": "body",
            "type": "richtext",
            "label": "Body"
          }
        ]
      }
    ]
  }
{% endschema %}
