<style>
  h1{
    text-align: center;
    margin-bottom: 40px;
  }
  .four-oh-four--grid__item{
    padding: 0px 0px 40px 40px;
  }

  .four-oh-four--grid__item-inner{
    padding: 20px;
    background-color: #f3f3f3;
    padding: 40px;
  }

  .four-oh-four--grid__item a{
    display: block;
  }

  .four-oh-four--grid__item h3{
    font-size: 2em;
  }

  .four-oh-four--smiley{
    max-width: 120px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 40px;
  }

</style>
<div class = "wrap wrap--max">
  <div class = "four-oh-four--smiley">
    {% include "frowny" %}
  </div>
  <h1>Looking for something?</h1>
  <div class = "grid">
      <div class = "grid__item four-oh-four--grid__item medium-up--one-half">
        <div class = "four-oh-four--grid__item-inner">
        <h3>Shop</h3>
        <a href = "#">
          Collections
        </a>
        <a href = "#">
          Categories
        </a>
        <a href = "#">
          Shop All
        </a>
      </div>
    </div>
      <div class = "grid__item four-oh-four--grid__item medium-up--one-half">
        <div class = "four-oh-four--grid__item-inner">
        <h3>Shop</h3>
        <a href = "#">
          Collections
        </a>
        <a href = "#">
          Categories
        </a>
        <a href = "#">
          Shop All
        </a>
      </div>
    </div>
      <div class = "grid__item four-oh-four--grid__item medium-up--one-half">
        <div class = "four-oh-four--grid__item-inner">
        <h3>Shop</h3>
        <a href = "#">
          Collections
        </a>
        <a href = "#">
          Categories
        </a>
        <a href = "#">
          Shop All
        </a>
      </div>
    </div>
      <div class = "grid__item four-oh-four--grid__item medium-up--one-half">
        <div class = "four-oh-four--grid__item-inner">
        <h3>Shop</h3>
        <a href = "#">
          Collections
        </a>
        <a href = "#">
          Categories
        </a>
        <a href = "#">
          Shop All
        </a>
      </div>
    </div>
  </div>
</div>
