<style>
  .affiliate ul{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .affiliate li{
    margin-left: 20px;
  }

  .affialiate .slick-slide{
    margin-left: 10px;
  }

  @media ( max-width: 767px ){
    .affiliate--apply h2{
      text-align: center;
    }

    body .slick-carousel img{
      margin-left: 0px;
    }
  }

</style>
{% section "affiliate--hero" %}
<div class = "wrap">
  {% section "affiliate--body" %}
</div>
{% section 'instafeed' %}
